/* -------------------------------
 *  file import (base)
 * ---------------------------- */
/* 共通スタイル */
@use 'base/global';
/* リセットcss */
@use 'base/reset';

/* -------------------------------
 *  file import (foundation)
 * ---------------------------- */
/* faundation内のファイルをまとめてインポート */
@use 'foundation/import' as *;

/* -------------------------------
 *  file import (layout)
 * ---------------------------- */
/* レイアウト（構造用のクラス） */
@use 'layout/module';

/* -------------------------------
 *  file import (utility)
 * ---------------------------- */
/* ユーティリティクラス */
@use 'utility/utilities';
/* ボタンのベースデザイン */
@use 'utility/button';
/* ボタンの上書きデザイン */
@use 'utility/button-overrides';
/* marginクラス */
@use 'utility/margin';
/* paddingクラス */
@use 'utility/padding';
/* 装飾用クラス */
@use 'utility/decoration';
/* fontクラス */
@use 'utility/font';
/* colorクラス */
@use 'utility/color';



/* -------------------------------
 *  file import (components/common)
 * ---------------------------- */
@use 'components/common/header';
@use 'components/common/top-header';
@use 'components/common/footer';
/* -------------------------------
 *  file import (components/section)
 * ---------------------------- */
@use 'components/sections/intro';
@use 'components/sections/intro-card-box';
@use 'components/sections/prof';
@use 'components/sections/about-prof';
@use 'components/sections/services';
@use 'components/sections/cta-image-link';
@use 'components/sections/gallery';
@use 'components/sections/columns-page';
@use 'components/sections/contact';
@use 'components/sections/columns-detail';
/* -------------------------------
 *  file import (components/ui)
 * ---------------------------- */
/* ハンバーガーメニューcss */
@use 'components/ui/hamburger';
/* スライダー（カルーセル）css */
@use 'components/ui/gallery-slider';
/* columns-itemのcss */
@use 'components/ui/columns-item';
/* パンくずリストのcss */
@use 'components/ui/breadcrumb';

