@use '../../foundation/import' as *;

.footer {
    height: var(--footer-height);

    @include media-query(md) {
        height: var(--sp-footer-height);
    }

    &__inner {
        height: 100%;

        p {
            @include media-query(md) {
                font-size: 0.75rem;
            }
        }

        .hover-color-change {
            color: #fff;
        }

        .hover-color-change:hover {
            color: var(--accent-color);
        }
    }

    .footer__copyright {
        font-size: 0.75rem;

            @include media-query(md) {
                font-size: 0.5rem;
            }
    }


}