@use '../../foundation/import' as *;


/* TOPページのヘッダーのデザイン */
.header--top .header__container {
    width: 100%;
    height: auto;
    background-color: var(--bg-color);

    @include media-query(md) {
        height: 100vh;
        background-image: url(/assets/image/2.png);
        background-size: cover;
        background-position: top;
    }

    .header__inner {
        @include media-query(md) {
            padding: 0;
        }

        .header__parette {
            width: 90%;
            padding: 2% 5% 5%;

            @include media-query(md) {
                width: 100%;
                height: auto;
                padding: 0;
            }
        }

        .header__text-box {
            width: 90%;
            padding: 2% 12% 7% 10%;

            @include media-query(md) {
                width: 100%;
                height: auto;
                padding: 0 2rem;

            }

            .l-column--4 {
                @include media-query(md) {
                    width: 0;
                }
            }

            .l-column--8 {
                @include media-query(md) {
                    width: column-width(12, 0);
                }
            }

            .header__logo {
                height: 100%;
                margin-top:25%;

                @include media-query(md) {
                    display: none;
                }

            }

            .header__sp-logo {
                display: none;

                @include media-query(md) {
                    display: flex;
                    padding: 0;
                    width: 48%;
                }
            }

            .header__nav {
                display: flex;
                max-height: 50%;
                margin-top: 1%;

                .header__nav-inner {
                    @include media-query(2xl) {
                        gap: var(--spacing-sm);
                        align-items: start;
                        padding-top: var(--spacing-sm);
                    }

                    li:nth-child(1) {
                        border: var(--sub-color) solid 1px;
                        background: var(--sub-color);
                        aspect-ratio: 2/1.2;
                        border-radius: 50%;
                        font-size: 1.5rem;
                        letter-spacing: 0.08em;

                        @include media-query(2xl) {
                            margin-top: var(--spacing-lg3);
                            font-size: var(--font-size-lg2);
                        }


                        @include media-query(sm) {
                            font-size: var(--font-size-lg);
                        }
                    }

                    li:nth-child(2) {
                        border: var(--main-color) solid 1px;
                        background: var(--main-color);
                        aspect-ratio: 2/1.2;
                        border-radius: 50%;
                        font-size: 1.5rem;
                        letter-spacing: 0.08em;

                        @include media-query(2xl) {
                            font-size: var(--font-size-lg2);
                        }


                        @include media-query(sm) {
                            font-size: var(--font-size-lg);
                        }
                    }

                    li:nth-child(3) {
                        border: var(--accent-color) solid 1px;
                        background: var(--accent-color);
                        aspect-ratio: 2/1.2;
                        border-radius: 50%;
                        font-size: 1.5rem;
                        letter-spacing: 0.08em;

                        @include media-query(2xl) {
                            font-size: var(--font-size-lg2);
                        }


                        @include media-query(sm) {
                            font-size: var(--font-size-lg);
                        }
                    }

                    li:nth-child(4) {
                        border: var(--main-color) solid 1px;
                        background: var(--main-color);
                        aspect-ratio: 2/1.2;
                        border-radius: 50%;
                        font-size: 1.5rem;
                        letter-spacing: 0.08em;

                        @include media-query(2xl) {
                            font-size: var(--font-size-lg2);
                        }


                        @include media-query(sm) {
                            font-size: var(--font-size-lg);
                        }
                    }

                    li:nth-child(5) {
                        border: #f6f5ef solid 1px;
                        background: #f6f5ef;
                        aspect-ratio: 2/1.2;
                        border-radius: 50%;
                        font-size: 1.5rem;
                        letter-spacing: 0.08em;

                        @include media-query(2xl) {
                            margin-top: var(--spacing-lg3);
                            font-size: var(--font-size-lg2);
                        }


                        @include media-query(sm) {
                            font-size: var(--font-size-lg);
                        }
                    }
                }
            }

            .header__brush {
                width: 100%;
                margin-top: 45%;
                margin-left: 15%;
                transform: rotate(15deg);
                transition: rotate ease 0.5s;

                @include media-query(md) {
                    margin-top: 0;
                    margin-left: 0;
                    transform: rotate(20deg);
                }
            }

            .header__brush:hover {
                transform: rotate(20deg);

                @include media-query(md) {
                    margin-top: 0;
                    transform: rotate(30deg);
                }
            }
        }
    }

    .hamburger {
        display: none;
    }

}