---
import Button from '../components/Button';
---

<div class="aboutprof l-container pt-20">
    <div class="aboutprof__inner l-inner py-8 sm:px-0">
        <div class="l-row sm:flex-col sm:items-center sm:justify-center sm:flex-col-reverse">
            <div class="img-wrapper flex items-center l-column l-column--6 sm:px-4">
                <img src="/assets/image/prof.jpg" alt="" class="rounded-lg w-full" />
            </div>

            <div class="aboutprof__text flex flex-col items-center justify-center l-column l-column--6 sm:px-10" data-aos="fade" data-aos-delay="200" data-aos-duration="800">
                <h2 class="font-copy">あなたの頭の中を一緒にカタチに</h2>
                <p>miyake aoi</p>
                <p>三宅 葵</p>
                <div class="aboutprof__item w-full py-10 px-10 sm:px-0">
                    <Button href="#web-design" className="web__btn" variant="primary">
                        <span>webデザイン</span>
                    </Button>
                    <Button href="#graphic-design" className="graphic-btn" variant="primary">
                        <span>グラフィック</span>
                    </Button>

                    <Button href="#illust" className="illust__btn" variant="primary">
                        <span>イラスト</span>
                    </Button>
                    <Button href="#pop" className="pop__btn" variant="primary">
                        <span>手書きPOP</span>
                    </Button>
                </div>
            </div>
        </div>
    </div>

    <div class="l-inner py-10">
        <div class="aboutprof__desc" data-aos="fade" data-aos-delay="400" data-aos-duration="800">
            <h2 class="en text-center">profile</h2>
            <p class="pt-4 text-center">
                大阪出身。高校を卒業後、ホテルのレストランスタッフとして勤務したのち
                移動販売のクレープ屋として近畿中心に営業。
                お店のメニューやロゴ制作などの経験を積んでいくうちにデザインに興味を持ち、独学でデザインを学ぶ。
                元々、音楽や動画編集、イラスト制作などクリエイティブな趣味が多かったので、デジタル～アナログまで様々なスキルを磨き、
                現在はマルチクリエイターとして活動しています。
            </p>
        </div>
    </div>

    <div class="l-inner py-10">
        <div class="aboutprof__skills-list" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
            <h2 class="en text-center">skills & tools</h2>

            <ul class="skills-list pt-4 text-center">
                <li>HTML / CSS /JavaScript</li>
                <li>Astro / Vite</li>
                <li>Figma / Adobe XD</li>
                <li>Adobe Photoshop / Adobe Illustrator</li>
                <li>Git / GitHub</li>
                <li>Adobe Premiere Pro / CLIP STUDIO PAINT</li>
            </ul>
        </div>
    </div>
</div>
