---
import Button from '../components/Button';
---

<div class="aboutprof l-container pt-20">
    <div class="aboutprof__inner l-inner py-8 sm:px-0">
        <div class="l-row sm:flex-col sm:items-center sm:justify-center sm:flex-col-reverse">
            <div class="img-wrapper flex items-center l-column l-column--6 sm:px-4">
                <img src="/assets/image/prof.jpg" alt="" class="rounded-lg w-full" />
            </div>

            <div
                class="aboutprof__text flex flex-col items-center justify-center l-column l-column--6 sm:px-10"
                data-aos="fade"
                data-aos-delay="200"
                data-aos-duration="800"
            >
                <h2 class="font-copy">困りごとから、一緒に考えるクリエイター。</h2>
                <p>miyake aoi</p>
                <h1 class="font-copy">三宅 葵</h1>
                <div class="aboutprof__item w-full py-10 px-10 sm:px-0">
                    <Button href="#web-design" className="web__btn" variant="primary">
                        <span>webデザイン</span>
                    </Button>
                    <Button href="#graphic-design" className="graphic-btn" variant="primary">
                        <span>グラフィック</span>
                    </Button>

                    <Button href="#illust" className="illust__btn" variant="primary">
                        <span>イラスト</span>
                    </Button>
                    <Button href="#pop" className="pop__btn" variant="primary">
                        <span>手書きPOP</span>
                    </Button>
                </div>
            </div>
        </div>
    </div>

    <div class="l-inner py-10">
        <div class="aboutprof__desc" data-aos="fade" data-aos-delay="400" data-aos-duration="800">
            <h2 class="en text-center">profile</h2>
            <p class="pt-4 text-center">大阪出身。</p>
            <p class="text-center">
                ホテルのレストランスタッフ、移動販売のクレープ屋としての経験を経て、 お店を運営する中で感じた
                「こうしたら伝わりやすい」という日々の困りごとをきっかけに、 デザインに触れ始めました。
            </p>
            <p class="text-center">
                頼まれごとや「できる？」の一言に応えるうちに、 調べて、試して、形にすることを繰り返し、
                独学でさまざまなスキルが身についていきました。
            </p>
            <p class="text-center">
                現在は、デザイン・Web・イラストなど、 必要な手段を選びながら、
                困りごとをひとつずつ解いていくクリエイターとして活動しています。
            </p>
        </div>
    </div>

    <div class="l-inner py-10">
        <div class="aboutprof__skills-list" data-aos="fade-up" data-aos-delay="400" data-aos-duration="800">
            <h2 class="en text-center">skills & tools</h2>

            <ul class="skills-list pt-4 text-center">
                <li>HTML / CSS /JavaScript</li>
                <li>Astro / Vite</li>
                <li>Figma / Adobe XD</li>
                <li>Adobe Photoshop / Adobe Illustrator</li>
                <li>Git / GitHub</li>
                <li>Adobe Premiere Pro / CLIP STUDIO PAINT</li>
            </ul>
        </div>
    </div>
</div>
