---
// props: question, answer
const { question, answer } = Astro.props;
---

<div class="accordion">
    <button class="accordion__btn flex justify-between items-center">
        <span class="question flex">
            <span class="en mr-4">Q.</span>
            <span class="font-normal jp">{question}</span>
        </span>
        <span class="icon triangle__down"></span>
    </button>
    <div class="accordion__content flex">
        <span class="en mr-4">A.</span>
        <p>{answer}</p>
    </div>
</div>
