---
const { question, answer, category01 = '', category02 = '' } = Astro.props;
---

<div class="faq">
    <button class="faq__button" aria-expanded="true">
        <span class="faq__header">
            <span class="faq__icon en">Q.</span>
            <span class="faq__title-group">
                {category01 && <span class="faq__category">{category01}</span>}
                {category02 && <span class="faq__category">{category02}</span>}
                <span class="faq__question">{question}</span>
            </span>
            <span class="faq__toggle-icon">+</span>
        </span>
    </button>
    <div class="faq__content">
        <p class="faq__answer">{answer}</p>
    </div>
</div>