---
import Button from '../components/Button';
---

<div class="contact">
    <div class="l-wrapper">
        <div class="l-container-full">
            <div class="contact__form l-inner">
                <h1 class="text-center en">Contact</h1>
                <p class="text-center font-bold">お仕事のご依頼・ご相談など、お気軽にご連絡ください。</p>
                <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSfPPDYmey6H_EYnD00wgRvIcC-CBoANhByhJm2oHhzvRWARGA/viewform?embedded=true"
                    width="100%"
                    height="900"
                    style="border: none;"
                    loading="lazy"
                    >読み込んでいます…</iframe
                >
            </div>
        </div>
    </div>
</div>

<style>
    .contact picture,
    .contact img {
        width: 100%;
        height: auto;
        display: block;
        filter: brightness(65%);
    }
    @media screen and (width <=47.9375rem) {
    }
</style>
