---
interface Props {
    title: string;
    subtitle: string;
    items: FaqItem[];
}
interface FaqItem {
    question: string;
    answer: string;
}

const { title, subtitle, items } = Astro.props as Props;

import AccordionItem from './AccordionItem.astro';
---

<section class="l-wrapper">
    <div class="l-container bg-sub py-10">
        <div>
            <h2 class="faq__heading text-center mb-4">
                <span class="en block font-bold">{title}</span>
                <span class="block font-bold">{subtitle}</span>
            </h2>

            <div class="faq__inner l-inner">
                {items.map((item) => <AccordionItem question={item.question} answer={item.answer} />)}
            </div>
        </div>
    </div>
</section>

