---
import Card from './Card.astro';
---

<section class="feature-spec">
    <div class="l-wrapper">
        <div class="feature-spec__container l-inner pt-6 sm:pt-10 pb-8">
            <h2 class="feature-spec__heading font-bold u-heading-line sm:pb-3">特長</h2>
            <div class="feature-spec__card flex pt-6 sm:pt-4">
                <Card
                    imgSrc="/assets/image/sample_img.jpg"
                    alt=""
                    text="自動操縦が可能で、短時間で大量の農作物を監視、収穫、播種、散布などの作業ができます。"
                    className="feature-spec__card-item"
                />

                <Card
                    imgSrc="/assets/image/sample_img.jpg"
                    alt=""
                    text="高精度のカメラやセンサーを搭載しており、正確な土壌・作物の情報を収集でき、水や肥料などの資源を適切に配分できます。"
                    className="feature-spec__card-item feature-spec__card-item--02"
                />

                <Card
                    imgSrc="/assets/image/sample_img.jpg"
                    alt=""
                    text="必要な場所にだけ肥料や農薬を散布することができます。これにより、農薬や肥料の過剰使用が抑えられ、環境負荷やコスト削減に繋がります。"
                    className="feature-spec__card-item"
                />
            </div>
        </div>
    </div>
</section>

<style>
    .feature-spec__container {
        max-width: 800px;
    }
    .feature-spec h2 {
        font-size: 28px;
    }
    .feature-spec__card {
        gap: 2rem;
    }

    .under-line {
        background-color: var(--accent-color);
        width: 100%;
        height: 5px;
    }

    @media screen and (max-width: 767px) {
        .feature-spec__card {
            flex-direction: column;
            gap: 1.25rem;
        }

        .feature-spec h2 {
            font-size: 22px;
        }
    }
</style>
