---
import siteData from '../../siteData.mjs';
---

<footer class="footer bg-accent">
    <div class="footer__inner l-container-full flex items-center justify-center">
        <a href={siteData.home.path}><p class="color-white">home</p></a>
        <span class="ml-4 mr-4 color-white">|</span>
        <a href={siteData.about.path}><p class="color-white">about</p></a>
        <span class="ml-4 mr-4 color-white">|</span>
        <a href={siteData.works.path}><p class="color-white">works</p></a>
        <span class="ml-4 mr-4 color-white">|</span>
        <a href={siteData.contact.path}><p class="color-white">contact</p></a>
    </div>
</footer>
