---
/* page.astro で以下のように記述して呼び出し

    <Gallery
        title="ギャラリー"
        gallerys={[
            {
                image: '/assets/image/gallery_pht_01.jpg',
                alt: ''
            },
            {
                image: '/assets/image/gallery_pht_02.jpg',
                alt: ''
            },
            {
                image: '/assets/image/gallery_pht_03.jpg',
                alt: ''
            }
        ]}
    /> */

interface Props {
    title: string;
    gallerys: gallerys[];
}
interface gallerys {
    image: string;
    alt: string;
}

const { title, gallerys } = Astro.props as Props;
---

<section class="gallery l-wrapper pt-12 sm:pt-8">
    <div class="l-container">
        <div class="slider l-inner">
            <h2 class="gallery__heading u-heading-line font-bold">{title}</h2>
            <div class="slider__wrapper flex flex-col pt-8 sm:pt-0">
                <div class="slider__track autoplay sm:justify-center">
                    {
                        gallerys.map((gallerys: gallerys, i: number) => (
                            <div>
                                <div class="img__wrapper block">
                                    <img src={gallerys.image} alt={gallerys.alt} class="block" />
                                </div>
                            </div>
                        ))
                    }
                </div>
            </div>

            <div class="slider__dots flex justify-center items-center"></div>
        </div>
    </div>
</section>

<style>
    @media screen and (width <=47.9375rem) {
        .gallery {
            width: 100%;
        }
        .gallery__heading {
            font-size: 22px;
            padding-bottom: 0.5rem;
        }
    }
</style>
