---
/* page.astro で以下のように記述して呼び出し

    <Gallery
        title="ギャラリー"
        gallerys={[
            {
                image: '/assets/image/gallery_pht_01.jpg',
                alt: ''
            },
            {
                image: '/assets/image/gallery_pht_02.jpg',
                alt: ''
            },
            {
                image: '/assets/image/gallery_pht_03.jpg',
                alt: ''
            }
        ]}
    /> */

interface Props {
    title: string;
    gallerys: gallerys[];
}
interface gallerys {
    image: string;
    alt: string;
}

const { title, gallerys } = Astro.props as Props;
---

<section class="gallery l-wrapper pt-12 sm:pt-8" data-aos="fade-up" data-aos-delay="200" data-aos-duration="800">
    <!-- カルーセルセクション -->
    <div class="l-container">
        <div class="l-inner">
            <div class="slider">
                <h2 class="gallery__heading font-bold text-center en pt-10">{title}</h2>
                <span
                    >大阪府香里園にある<a
                        href="https://machikado-cafe-kourien.com/"
                        class="machikado__url font-bold hover-underline hover-color-change">machikado cafe様</a
                    >のHPを作成いたしました。</span
                >
                <p>□ html / css / javascript / Adobeillustrator / AdobePhotoshop 使用</p>

                <div class="slider__wrapper flex flex-col pt-2 sm:pt-0">
                    <div class="slider__track autoplay sm:justify-center">
                        {
                            gallerys.map((gallerys: gallerys, i: number) => (
                                <div>
                                    <div class="img__wrapper block">
                                        <img src={gallerys.image} alt={gallerys.alt} class="block" />
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>

                <div class="slider__dots flex justify-center items-center"></div>
            </div>
        </div>
    </div>

    <!-- グリッドセクション -->
    <div class="l-container py-10">
        <div class="l-inner">
            <h3 class="pt-10">ロゴ / メニュー / グラフィックデザイン</h3>
            <p>□ Adobeillustrator / AdobePhotoshop 使用</p>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_01.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_02.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_03.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_04.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_05.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_06.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_07.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_08.png" alt="" class="w-full" />
                </div>
            </div>

            <h3 class="pt-10">ビジネス / バナー /名刺</h3>
            <p>□ Adobeillustrator / AdobePhotoshop / canva使用</p>

            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-16-9">
                    <img src="/assets/image/work_banner_01.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-16-9">
                    <img src="/assets/image/work_banner_02.png" alt="" class="w-full" />
                </div>
            </div>

            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_banner_03.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-16-9">
                    <img src="/assets/image/work_gallery_10.png" alt="" class="w-full" />
                </div>
            </div>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-16-9">
                    <img src="/assets/image/work_gallery_09.png" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</section>
