<section class="hero l-wrapper">
    <div class="l-container-full bg-accent">
        <div class="position-relative">
            <div class="img-wrapper">
                <picture>
                        <!-- スマホ（767px以下）のときに読み込む画像 -->
                        <source srcset="/assets/image/mainVisual_sp.jpg" media="(max-width: 767px)" />
                        <!-- 通常（PC）表示 -->
                        <img src="/assets/image/mainVisual.jpg" alt="" class="w-full" />
                </picture>
            </div>
            <div class="hero__text position-absolute flex l-row">
                <div class="l-column l-column--1"></div>
                <div class="l-column l-column--5">
                    <h1 class="en">
                        <span class="block"> heading</span>h1
                    </h1>
                    <p class="en">sub-catchcopy</p>
                </div>
                <div class="l-column l-column--3"></div>
                <div class="l-column l-column--3"></div>
            </div>
        </div>
    </div>
</section>
