<section class="hero-sample">
    <div class="l-wrapper">
        <div class="hero-sample__container l-container position-relative pt-10 px-6">
            <div class="img-wrapper">
                <img src="/assets/image/sample_img.jpg" alt="" class="rounded-lg"/>
            </div>
            <div
                class="hero-sample__text flex items-center justify-center position-absolute bg-white font-bold sm:justify-start sm:mb-2"
            >
                <h1>sampleテキスト-h1</h1>
            </div>
            <nav class="breadcrumb flex justify-end mt-4" aria-label="パンくずリスト">
                <ol>
                    <li><a href="/">トップ</a></li>
                    <li><span aria-current="page">sample</span></li>
                </ol>
            </nav>
        </div>
    </div>
</section>

