<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10">似顔絵</h3>
            <p>□ CLIPSTUDIOPAINT / AdobePhotoshop / canva使用</p>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_illust_02.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_illust_03.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_illust_04.png" alt="" class="w-full" />
                </div>
            </div>

            <h3 class="pt-10">アイコンイラスト</h3>
            <p>□ CLIPSTUDIOPAINT / AdobePhotoshop / canva使用</p>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_icon_01.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_icon_02.jpg" alt="" class="w-full" />
                </div>
            </div>

            <!-- その他 -->
            <h3 class="pt-10">ウェディング / その他</h3>
            <p>□ CLIPSTUDIOPAINT / AdobePhotoshop / canva使用</p>
            <div class="gallery__grid py-6">
                <div class="img-wrapper">
                    <img src="/assets/image/work_wedding_01.jpg" alt="" class="w-full" />
                </div>

                <div class="img-wrapper">
                    <img src="/assets/image/work_illust_01.png" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</div>
