---
import Card from './Card.astro';
import Button from '../components/Button';
import siteData from '../../siteData.mjs';
---

<section class="card-box l-wrapper">
    <div class="l-container px-8 py-10 sm:px-4">
        <div class="l-inner sm:pt-0 sm:pb-10">
            <div data-aos="fade" data-aos-delay="200" data-aos-duration="600">
                <h2 class="text-center font-bold font-copy sm:pb-3"><span class=" heading-gradient heading-gradient--thick">works</span></h2>
                <h3 class="text-center font-bold font-copy">ひとつひとつのデザインに、想いを込めて。</h3>
            </div>
            <!--制作物１web -->

            <div class="py-20 sm:py-4">
                <Card
                    imgSrc="/assets/image/work_web_01.jpg"
                    alt=""
                    text="HP制作：明るい印象のカラーリングでシンプルながらも温かみのあるカフェHPを制作しました。"
                    className="font-copy font-bold "
                    aos="fade-up"
                    delay={200}
                />
            </div>
            <div class="l-row l-row--gap pt-6 sm:pt-4 sm:flex-col sm:items-center">
                <div class="l-column l-column--7">
                    <Card
                        imgSrc="/assets/image/work_business_02.jpg"
                        alt=""
                        text="名刺制作：ご依頼者様（タクシー乗務員）の名刺を作成しました。"
                        className="font-copy font-bold"
                        aos="fade-up"
                        delay={600}
                    />
                </div>
                <div class="l-column l-column--5">
                    <Card
                        imgSrc="/assets/image/work_wedding_01.jpg"
                        alt=""
                        text="wedding:素敵な結婚式の似顔絵制作をしました。"
                        className="font-copy font-bold"
                        aos="fade-up"
                        delay={800}
                    />
                </div>
            </div>
            <div class="flex justify-end">
                <Button href={siteData.works.path} className="works__btn" variant="push">
                    <span>もっとみる</span>
                </Button>
            </div>
        </div>
    </div>
</section>
