<div class="intro l-container py-10">
    <div class="intro__inner l-inner flex flex-col justify-center items-center">
        <h2 data-aos="fade" data-aos-delay="200" data-aos-duration="600">
            "好きなこと"だからとことん追求<br />
            満足いただけるものを創ります。
        </h2>
        <p class="intro__inner intro__inner--desc py-6" data-aos="fade" data-aos-delay="400" data-aos-duration="600">
            web制作、ロゴ・メニュー制作、手書きポップまでいろんな”好きなこと”を活かして
            私にしか作れないデザインを実現します。
            ロゴマークを作って、webページを作って...あ、ここに似顔絵を入れたりとか...できないかな？と、
            どんどん湧き出てくるお客様の頭の中のイメージをいろんな角度からアプローチして 柔軟に形にしていきます。
            私自身、過去に移動販売でお店をしていて、自分でお店を作り上げていく中で
            「もっとこうしたいああしたい」と工夫してお店を徐々に素敵に作り上げていく経験をしました。
            今度はお客様たちのそんな想いに寄り添って、様々なデザインのお手伝いができたらな、と思っています。
        </p>
    </div>
</div>
