---
import Button from '../components/Button';
---

<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10 heading-back-text" data-bg="logo">ロゴ</h3>
            <div class="py-2">
                <p class="tag">Adobeillustrator</p>
            </div>
            <div class="gallery__grid py-6 text-center">
                <div>
                    <div class="img-wrapper img-wrapper--aspect-1-1">
                        <img src="/assets/image/work_logo_01.jpg" alt="" class="w-full" />
                    </div>
                    <p class="mt-4">自分のポートフォリオサイトや名刺等に使用するロゴを制作しました</p>
                </div>
                <div>
                    <div class="img-wrapper img-wrapper--aspect-1-1">
                        <img src="/assets/image/work_logo_02.jpg" alt="" class="w-full" />
                    </div>
                    <p class="mt-4">架空の会社ロゴを制作しました</p>
                </div>
            </div>

            <h3 class="pt-10 heading-back-text" data-bg="banner">バナー</h3>
            <div class="py-2">
                <p class="tag">Adobeillustrator</p>
                <p class="tag">AdobePhotoshop</p>
                <p class="tag">canva</p>
            </div>
            <div class="gallery__grid py-6 text-center">
                <div>
                    <div class="img-wrapper img-wrapper--aspect-4-6">
                        <img src="/assets/image/work_banner_01.jpg" alt="" class="w-full" />
                    </div>
                    <p class="mt-4">架空のビジネスバナー作成をしました</p>
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-6"></div>
            </div>
            <h3 class="pt-10 heading-back-text" data-bg="business-card">名刺</h3>
            <div class="py-2">
                <p class="tag">Adobeillustrator</p>
            </div>
            <div class="gallery__grid py-6">
                <div>
                    <div class="img-wrapper">
                        <img src="/assets/image/work_business_01.jpg" alt="" class="w-full" />
                    </div>
                    <div class="flex flex-col items-center">
                        <p class="mt-4">自分の名刺デザインをしました</p>
                        <!-- <Button href="/columns/2025-11-22-taxi-business-card" className="work-link" variant="push">
                            <span><i class="fa-solid fa-pen-to-square"></i> 制作レポを見る</span>
                        </Button> -->
                    </div>
                </div>
                <div>
                    <div class="img-wrapper">
                        <img src="/assets/image/work_business_02.jpg" alt="" class="w-full" />
                    </div>
                    <div class="flex flex-col items-center">
                        <p class="mt-4">タクシー運転手の方の名刺作成をさせていただきました</p>
                        <Button href="/columns/2025-11-22-taxi-business-card" className="work-link" variant="push">
                            <span><i class="fa-solid fa-pen-to-square"></i> 制作レポを見る</span>
                        </Button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
