<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10">ロゴ</h3>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_logo_01.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_logo_02.jpg" alt="" class="w-full" />
                </div>
            </div>

            <h3 class="pt-10">バナー</h3>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-6">
                    <img src="/assets/image/work_banner_01.jpg" alt="" class="w-full" />
                </div>
            </div>

            <h3 class="pt-10">名刺</h3>
            <div class="gallery__grid py-6">
                <div class="img-wrapper">
                    <img src="/assets/image/work_business_01.jpg" alt="" class="w-full" />
                </div>
            </div>
                        <div class="gallery__grid py-6">
                <div class="img-wrapper">
                    <img src="/assets/image/work_business_02.jpg" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</div>
