<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10">メニュー</h3>
            <p>□ Adobeillustrator / AdobePhotoshop / canva使用</p>

            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_menu_01.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper">
                    <img src="/assets/image/work_menu_02.jpg" alt="" class="w-full" />
                </div>
            </div>

            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-3 px-20">
                    <img src="/assets/image/work_menu_03.jpg" alt="" class="w-full" />
                </div>
            </div>

            <!-- 手描きメニュー・ポップ -->
            <h3 class="pt-10">手書きメニュー / POP</h3>
            <p>□ AdobePhotoshop / canva / 主にポスカを使用し、手描きで作成</p>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_pop_01.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_pop_02.jpg" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</div>
