<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10">メニュー</h3>
            <p>□ Adobeillustrator / AdobePhotoshop / canva使用</p>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_01.png" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-1-1">
                    <img src="/assets/image/work_gallery_02.png" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</div>
