---
import Button from '../components/Button';
---

<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10">メニュー</h3>
            <div class="py-2">
                <p class="tag">Adobeillustrator</p>
                <p class="tag">AdobePhotoshop</p>
                <p class="tag">canva</p>
            </div>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_menu_01.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper">
                    <img src="/assets/image/work_menu_02.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_menu_03.jpg" alt="" class="w-full" />
                </div>
            </div>

            <!-- 手描きメニュー・ポップ -->
            <h3 class="pt-10">手書きメニュー / POP</h3>
            <div class="py-2">
                <p class="tag">AdobePhotoshop</p>
                <p class="tag">ポスカ</p>
            </div>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_pop_01.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_pop_02.jpg" alt="" class="w-full" />
                </div>
            </div>

            <div class="flex items-center sm:flex-col">
                <div>
                    <h3 class="pt-10">店頭トータルデザイン / 手描きメニューボード複数枚 + 販促ポップ + 看板</h3>
                    <span class="mt-2"
                        >☕大阪府香里園にある<a
                            href="https://machikado-cafe-kourien.com/"
                            class="machikado__url font-bold hover-underline hover-color-change hover-move-up">machikado cafe様</a
                        >の店頭トータルデザインを担当いたしました。</span
                    >
                    <div class="py-2">
                        <p class="tag">Adobeillustrator</p>
                        <p class="tag">AdobePhotoshop</p>
                        <p class="tag">canva</p>
                        <p class="tag">ポスカ</p>
                    </div>
                </div>
                <Button href="/columns/2025-12-11-cafe-new" className="work-link ml-6" variant="push">
                    <span><i class="fa-solid fa-pen-to-square"></i> 制作レポを見る</span>
                </Button>
            </div>

            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_01.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_02.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_03.jpg" alt="" class="w-full" />
                </div>
            </div>

            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_04.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_05.jpg" alt="" class="w-full" />
                </div>

                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_06.jpg" alt="" class="w-full" />
                </div>

                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_07.jpg" alt="" class="w-full" />
                </div>
                <div class="img-wrapper img-wrapper--aspect-4-3">
                    <img src="/assets/image/work_total_08.jpg" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</div>
