---
import Button from '../components/Button';
---

<div class="l-container py-10">
    <div class="l-inner">
        <div class="l-row">
            <div class="l-column l-column--6">
                <p>三宅 葵</p>
                <p>miyake aoi</p>
                <p>url:</p>
                <p>mail:</p>
                <p>お仕事のご依頼やご相談は</p>
                <div class="flex">
                    <Button href="リンク" className="上書きしたいクラス名" variant="primary">
                        <span>こちら
                        </span>
                    </Button>
                    <p>よりお気軽にお問い合わせください。</p>
                </div>
                <div class="flex justify-end">
                    <Button href="リンク" className="上書きしたいクラス名" variant="primary">
                        <span>プロフィールへ</span>
                    </Button>
                </div>
            </div>
            <div class="img-wrapper l-column l-column--6">
                <img src="/public/assets/image/about_icon.png" alt="" class="rounded-lg"/>
            </div>
        </div>
    </div>
</div>
