<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10 heading-back-text" data-bg="web">LP / ホームページ</h3>

            <div class="mt-10">
                <h4 class="font-bold py-2">□ machikado cafe様 | ホームページ</h4>
                <span class="mt-2"
                    >☕大阪府香里園にある<a
                        href="https://machikado-cafe-kourien.com/"
                        class="web__url font-bold hover-underline hover-color-change hover-move-up">machikado cafe様</a
                    >のHPを作成いたしました。</span
                >
                <div class="py-2">
                    <p class="tag">html</p>
                    <p class="tag">css</p>
                    <p class="tag">javascript</p>
                    <p class="tag">Adobeillustrator</p>
                    <p class="tag">AdobePhotoshop</p>
                    <p class="tag">astro</p>
                </div>
            </div>
            <div class="gallery__grid py-2">
                <div class="img-wrapper img-wrapper--aspect-16/9 px-4 py-4">
                    <img src="/assets/images/work_web_01.jpg" alt="" class="w-full" />
                </div>
            </div>

            <div class="mt-20">
                <h4 class="font-bold py-2">□ aoi miyake Atelier | 自身のポートフォリオサイト</h4>
                <span class="mt-2"
                    >💻自身の<a
                        href="https://my-portfolio-tau-seven-74.vercel.app/"
                        class="web__url font-bold hover-underline hover-color-change hover-move-up"
                        >ポートフォリオサイト</a
                    >を作成いたしました。</span
                >
                <div class="py-2">
                    <p class="tag">html</p>
                    <p class="tag">css</p>
                    <p class="tag">javascript</p>
                    <p class="tag">Adobeillustrator</p>
                    <p class="tag">AdobePhotoshop</p>
                    <p class="tag">astro</p>
                </div>
            </div>
            <div class="gallery__grid py-2">
                <div class="img-wrapper img-wrapper--aspect-16/9 px-4 py-4">
                    <img src="/assets/images/work_web_02.jpg" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</div>
