<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10">LP / ホームページ</h3>
            <span
                >大阪府香里園にある<a
                    href="https://machikado-cafe-kourien.com/"
                    class="machikado__url font-bold hover-underline hover-color-change">machikado cafe様</a
                >のHPを作成いたしました。</span
            >
            <p>□ html / css / javascript / Adobeillustrator / AdobePhotoshop / astro使用</p>
            <div class="gallery__grid py-6">
                <div class="img-wrapper img-wrapper--aspect-16/9">
                    <img src="/assets/image/work_web_01.jpg" alt="" class="w-full" />
                </div>
            </div>
        </div>
    </div>
</div>
