

<div class="works__section l-wrapper">
    <div class="l-container">
        <div class="l-inner">
            <h3 class="pt-10">LP / ホームページ</h3>

            <span class="mt-2"
                >☕大阪府香里園にある<a
                    href="https://machikado-cafe-kourien.com/"
                    class="machikado__url font-bold hover-underline hover-color-change">machikado cafe様</a
                >のHPを作成いたしました。</span
            >
            <div class="py-2">
                <p class="tag">html</p>
                <p class="tag">css</p>
                <p class="tag">javascript</p>
                <p class="tag">Adobeillustrator</p>
                <p class="tag">AdobePhotoshop</p>
                <p class="tag">astro</p>
            </div>
        </div>
        <div class="gallery__grid py-6">
            <div class="img-wrapper img-wrapper--aspect-16/9 px-4 py-4">
                <img src="/assets/image/work_web_01.jpg" alt="" class="w-full" />
            </div>
        </div>
    </div>
</div>
