@use '../../foundation/import.scss' as *;

.aboutprof__text {
    .aboutprof__item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.75rem 1rem;

        @include media-query(lg) {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }

    p:nth-of-type(1) {
        letter-spacing: 0.06em;
    }

    p:nth-of-type(2) {
        font-size: 1.75rem;
        letter-spacing: 0.08em;
    }
}

.aboutprof__desc {
    p {
        font-size: 1.25rem;
        line-height: 1.8;
    }
}