@use '../../foundation/import.scss' as *;

.columns-detail {

    h1 {
        font-size: 1.75rem;

        @include media-query(md) {
            font-size: 1.5rem;
        }
    }

    h1:first-letter {
        font-size: 3rem;
        color: var(--main-color);

        @include media-query(md) {
            font-size: 2rem;
        }
    }

    h2 {
        margin-top: 3rem;
        margin-bottom: 1rem;
        font-size: 1.75rem;
        position: relative;
        padding-left: 0.75rem;

        @include media-query(md) {
            font-size: 1.25rem;
        }
    }

    h2:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 4px;
        background-color: var(--accent-color);
    }

    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        position: relative;
        padding-bottom: 0.5rem;
    }

    h3:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        width: 100%;
        background: #ddd;
    }

    hr {
        margin-bottom: 0.5rem;
    }

    img {
        width: 50%;
        padding: 1rem;
        border-radius: 30px;

        @include media-query(md) {
            width: 100%;
        }
    }

    img:first-child {
        margin: 0;
    }
}