.columns-detail {
    h3 {
        margin-bottom: 0.5rem;
    }

    hr{
        margin-bottom: 0.5rem;
    }

    img {
        width: 50%;
        padding: 1rem;
        border-radius: 30px;
    }

    img:first-child {
        margin: 0;
    }
}