@use '../../foundation/import.scss' as *;

.columns-detail {
    h3 {
        margin-bottom: 0.5rem;
        margin-top: 2.5rem;
    }

    hr {
        margin-bottom: 0.5rem;
    }

    img {
        width: 50%;
        padding: 1rem;
        border-radius: 30px;

        @include media-query(md) {
            width: 100%;
        }
    }

    img:first-child {
        margin: 0;
    }
}