@use '../../foundation/import.scss' as *;

/* === デバッグ用各要素アウトライン
* {
    outline: 1px solid red;
} === */

.contact-cta {
    position: relative;
    padding: 0;

    .contact-cta__bg {
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 0;
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.4); // 黒の半透明オーバーレイ
        color: #fff;
        inset: 0;
        z-index: 1;
    }

    &__title {
        font-size: 1.75rem;
        margin-bottom: 1em;

        @include media-query(md) {
            font-size: 1.25rem;
        }
    }

}