
@use '../../foundation/import.scss' as *;
.feature {
    &__section {
        h2 {
            margin: 0 auto var(--spacing-base);
            font-size: var(--font-size-xl);
            font-weight: var(--font-weight-bold);
        }

        h3 {
            margin: 0;
            font-size: 1.75rem;
            font-style: italic;
            font-weight: var(--font-weight-bold);
            color: #ff1493;

            span {
                margin-left: 0.5rem;
                font-size: 2.625rem;
                font-style: italic;
                font-weight: var(--font-weight-bold);
                color: #ff1493;
            }
        }

        @media (max-width: 767px) {
            background-color: #fff;

            h3 {
                font-size: 1.5rem;

                span {
                    font-size: 1.875rem;
                }
            }
        }
    }

    &__item {
        width: 100%;
        margin-bottom: 3rem;

        &:first-of-type {
            margin-top: var(--spacing-lg);
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        &:not(.reverse)>.item__text {
            padding-left: clamp(1rem, 3vw, 2.5rem);
        }

        &.reverse>.item__text {
            padding-right: clamp(1rem, 3vw, 2.5rem);
        }

        .img-wrapper {
            width: 50%;

            @media(max-width:767px){
                width: 100%;
            }
        }

        @media (max-width: 767px) {
            gap: 1.5rem;
            margin: auto;
        }
    }
}

.item {
    &__img {
        aspect-ratio: 560 / 346;
        object-fit: cover;
        border-radius: 1.25rem;

        @media (max-width: 767px) {
            width: 100%;
        }
    }

    &__text {
        width: 100%;
        max-width: 50%;

        @media (max-width: 767px) {
            max-width: 100%;
            padding-inline: 1rem;
        }
    }
}

.lead {
    margin-top: 0;
    margin-bottom: var(--spacing-sm);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
}