.works__section{
    .l-inner{
        padding-left: 2%;
    }
/* ギャラリーのグリッドスタイル */
    /* 画面幅によって自動で並べてくれる */
    .gallery__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        gap: 1.5rem;
    }

    .machikado__url{
        letter-spacing: 0.05em;
    }

    .machikado__url.hover-color-change:hover{
        color: var(--main-color);
    }

    .works__nav{
        margin-top: 150px;
        font-size: 1.25rem;
    }
}