@use '../../foundation/import.scss' as *;

.main--works {

    .l-column--2 {
        position: sticky;
        top: 2rem;
        /* ヘッダー分あけるならここ調整 */
        align-self: flex-start;

        /* 高さ揃え問題の回避に有効 */
        @include media-query(md) {
            position: static;
            width: 100%;
        }
    }


    .l-column--10 {
        @include media-query(md) {
            width: 100%;
        }
    }

    .works__section {

        .l-inner {
            padding-left: 2%;
        }

        /* ギャラリーのグリッドスタイル */
        /* 画面幅によって自動で並べてくれる */
        .gallery__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
            gap: 1.5rem;
        }


        .web__url {
            letter-spacing: 0.05em;
        }

        .web__url.hover-color-change:hover {
            color: var(--main-color);
        }

        .works__nav {
            margin-top: 150px;
            font-size: 1.25rem;


        }

        .c-worksNav__list {
            gap: .5rem;
            padding: .5rem 1rem;

            h2 {
                font-size: 1.75rem;
                font-weight: bold;
                background-color: #e1eef5;
                position: relative;

                @include media-query(xl) {
                    font-size: 1.25rem;
                }

                @include media-query(md) {
                    display: none;
                }
            }

            h2:after {
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                border-width: 0 20px 20px 0;
                border-style: solid;
                border-color: var(--main-color) var(--bg-color) var(--main-color);
                box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
            }

            @include media-query(xl) {
                margin-top: 0;
                font-size: 1rem;
                padding-left: 0;
                padding-right: 0;
            }

            @include media-query(md) {
                margin-top: 0;
                font-size: 1.25rem;
            }
        }

        .c-worksNav__link {
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: #333;
            padding: 0.2em 1em;
        }

        /* ホバー時の波紋 */
        .c-worksNav__link:hover::before {
            content: "";
            position: absolute;
            left: 30%;
            top: 20%;
            width: 60px;
            height: 60px;
            transform: translate(-50%, -50%) scale(0);
            border-radius: 50%;
            border: 1px solid var(--sub-color);
            opacity: 1;
            animation: nav-ripple .8s ease-out forwards;
        }

        @keyframes nav-ripple {
            to {
                transform: translate(-50%, -50%) scale(2);
                opacity: 0;
            }
        }
    }
}