@use '../../foundation/import.scss' as *;

.service {

    &__img-wrapper {
        border: solid 12px #390909;
    }

    &__item-text {
        p {
            font-size: 1.25rem;

            @include media-query(md) {
                font-size: 1rem;
            }
        }

    }

}

.l-inner {

    .l-column--6 {
        @include media-query(md) {
            width: 100%;
        }
    }
}