@use '../../foundation/import.scss' as *;

.service {
    .l-inner
    &__img-wrapper {
        border: solid 12px #390909;
    }

    &__item-text {
        p {
            font-size: 1.25rem;
        }

        .lead {
            font-size: 1.5rem;
        }
    }
}