@use '../../foundation/import.scss' as *;
.voices {
    .voices__heading {
        span {
            padding: 0;
            line-height: 1.2;
            letter-spacing: 0.05em;

            &:last-child {
                line-height: 2.4;
                letter-spacing: 0.06em;
            }
        }
    }

    @media (max-width: 47.9375rem) {
        .voices__slide {
            max-width: 390px;
        }
    }
}