@use '../../foundation/import.scss' as *;

// ========================================
// Breadcrumb
// ========================================
.c-breadcrumb {
    font-size: .75rem; // 12px
    color: #333;
    font-weight: 500;

    @include media-query(md) {
        font-size: .6875rem; // 11px
    }

    &__list {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        list-style: none;
        padding: .75rem 2rem;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;

        // 区切り
        &:not(:last-child)::after {
            content: '＞';
            margin: 0 .5em;
            color: #666;
        }
    }

    &__link {
        color: #333;
        text-decoration: none;
        font-weight: normal;
        transition: opacity .2s;

        &:hover {
            opacity: .7;
        }
    }

    &__current {
        font-weight: bold;
    }
}