@use '../../foundation/import.scss' as *;

/* スライダーcssの読み込み */
.gallery .slider {
    position: relative;
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin: 0 auto;
}

.gallery .slick-slide {
    padding: 0;
    box-sizing: border-box;
}

.gallery .slider__wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.gallery .slider__track .card {
    flex-shrink: 0;
    width: 100%;
    height: auto;
}

.gallery .card__inner {
    width: 100%;
    height: auto;
}

/* ドットコンテナ */
.gallery .slick-dots {
    position: absolute;
    bottom: 5%;
    gap: 8px;
    width: 100%;
}

.gallery .slick-dots li {
    width: auto;
    height: auto;
    padding: 0;
}

/* 各ドットボタン */
.gallery .slick-dots li button {
    position: static;
    width: 12px;
    height: 12px;
    padding: 0;
    margin: 0;
    font-size: 0;
    line-height: 0;
    appearance: none;
    cursor: pointer;
    background-color: #eee;
    border: none;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.gallery .slick-dots li.slick-active button {
    background-color: var(--accent-color);
}

/* Slickのデフォルトの黒丸を消す */
.gallery .slick-dots li button::before {
    display: none;
    content: none;
}

/* gifエラー回避用 */
.gallery .slick-loading .slick-list {
    background: none !important;
}

.work-card__points {
    list-style: disc;
    padding-left: 2rem;
    font-size: .9rem;
    font-size: .9rem;

    @include media-query(md) {
        font-size: .75rem;
    }
}

.work-card__note {
    font-size: .9rem;

    @include media-query(md) {
        font-size: .75rem;
    }
}



// 矢印
.slider__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: background .2s ease;
}

.slider__arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

//⤵左右配置 
.slider__arrow--prev {
    left: 12px;
}

.slider__arrow--next {
    right: 12px;
}

// 矢印の中身
.slider__arrow span {
    display: block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    margin: auto;
}

.slider__arrow--prev span {
    transform: rotate(-135deg);
}

.slider__arrow--next span {
    transform: rotate(45deg);
}

//slickのデフォルト矢印を非表示
.slick-prev,
.slick-next {
    display: none !important;
}


/* レスポンシブ対応（1枚表示） */
@media (max-width: 767px) {
    /* ブレイクポイント767px */

    .gallery .slider {
        width: 100%;
        max-width: none;
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    .gallery .slider__wrapper .slick-slide {
        width: auto;
        padding: 0;
        margin-right: 0.4688rem;
        margin-left: 7.5008px;
    }

    .gallery .slider__wrapper {
        max-width: 100%;
        height: auto;
        max-height: none;
        margin-top: 25px;
        overflow: visible;
    }

    .gallery .slick-slide {
        border-radius: 30px;
    }

    .gallery .slick-dots {
        gap: 10px;
        margin-top: 9px;
    }

    .slider__arrow {
        display: none;
    }

}