.tab__menu {
    width: 100%;
    max-width: clamp(20rem, 90vw, 72.5rem);
    margin: 0 auto;
    font-family: sans-serif;
}

.tab__buttons {
    display: flex;
    gap: 2.1875rem;
    height: 4.6875rem;
}

.tab__button {
    flex: 1;
    padding: 0.8em 1em;
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-midium);
    color: rgba(51, 51, 51, 0.6);
    text-align: center;
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    border-radius: 0.625rem 0.625rem 0 0;
    transition: background-color 0.3s ease;
}

.tab__button:hover {
    background-color: #e0e0e0;
}

.tab__button.active {
    font-weight: var(--font-weight-midium);
    color: #000;
    background-color: #f2f9ff;
}

.tab__panel {
    display: none;
    background-color: #f2f9ff;
    border: none;
    border-radius: 0 0 0.625rem 0.625rem;
    padding: var(--spacing-base);
}

.tab__panel.active {
    display: block;
}

.tab__contents {
    display: flex;
    flex-flow: column wrap;
    gap: 2.5rem;
    justify-content: space-between;
}

.tab__column {
    display: flex;
    flex: 1;
    gap: 1.9375rem;
    justify-content: center;
    width: 100%;
}

/* === カード周り === */
.card__link {
    flex: 1;
    width: 100%;
    max-width: clamp(17.5rem, 48%, 33.25rem);
    color: inherit;
    text-align: center;
    text-decoration: none;
}

.card__link .img__wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-radius: 0.75rem;
}

.card__link img {
    display: block;
    width: 100%;
    aspect-ratio: 532/329;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 0.75rem;
    transition: transform 0.3s ease;
}

.card__link:hover img {
    opacity: 0.6;
    transform: scale(1.2);
}

.card__link p {
    margin-top: 1rem;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-bold);
    text-align: left;
}

.card__link p::before {
    position: relative;
    top: -0.125rem;
    margin-right: 0.5em;
    font-family: 'Font Awesome 6 Free', sans-serif;
    font-size: var(--font-size-base);
    font-weight: 900;
    vertical-align: middle;
    color: var(--main-color);
    content: '\f061';
}

@media screen and (max-width: 767px) {
    .tab__menu {
        max-width: none;
    }

    .tab__contents {
        flex-direction: column;
        gap: 1.75rem;
    }

    .tab__buttons {
        gap: 0.9375rem;
        height: 4.125rem;
        margin: 0 1rem;
    }

    .tab__button {
        flex: 1;
        font-size: var(--font-size-base);
    }

    .tab__panel {
        padding: 1.75rem 1rem 3.5rem;
    }

    .tab__column {
        flex-direction: column;
        gap: 1.75rem;
        width: 100%;
    }

    .card__link {
        max-width: 100%;
        font-size: var(--font-size-base);
    }

    .card__link p {
        margin-top: 0.75rem;
        font-size: 1.25rem;
        font-weight: var(--font-weight-bold);
    }

    .card .img__wrapper {
        width: 100%;
        height: auto;
        aspect-ratio: 343/220;
    }

    .card .img__wrapper img {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 343/220;
        -o-object-fit: cover;
        object-fit: cover;
    }
}
